#sea_side{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#the_album{
    object-fit: cover;
    width: 100vw;
    height: 130vh;
    position: fixed;
    top: 0;
    left: 0;
}

#love_lain{
    object-fit: cover;
    width: 100vw;
    height: 130vh;
    position: fixed;
    top: 0;
    left: 0;  
}
#bird{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;  
}

.adult_swim {
    position: relative;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

.lain_text{
    position: relative;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

div.Lain{
    position:absolute;
    bottom: 0px;
    left: -20px;
}